.main_container {
  display: flex;
  justify-content: center;
  background-color: #363636;
  flex-direction: column;
  transition: 0.5s all ease;
}


.forum_title_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.6%;
    margin-right: 3%;
}

.forum_title {
    font: 150 2em helvetica neue, open sans, sans-serif;
    color: rgb(228, 228, 228);
    margin-bottom: 1.5%;
}

.forum_description {
    /* font: 150 1em helvetica neue, open sans, sans-serif; */
    color: rgb(228, 228, 228);
    font-size: 12px;
    margin-top: 0.5%;
}

.forum_header_container {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgb(228, 228, 228);
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 3%;

}

.header_section_button {
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    color: rgb(218, 218, 218);
}

.header_section_button:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
