.ride_modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

.ride_modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ride_modal__container {
  background-color: rgb(37, 36, 36);
  padding: 30px;
  width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.ride_modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.ride_modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #e7e6e6;
  box-sizing: border-box;
  margin-right: 64%;
}

.ride_modal__close {
  background: transparent;
  border: 0;
  color: #f06d6d;
}

.ride_modal__header .ride_modal__close:before {
  content: "\2715";
}

.ride_modal__content {
  margin-top: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.ride_modal__btn {
  font-size: 0.875rem;
  font-variant: small-caps;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #1a1919;
  color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.ride_modal__btn:focus,
.ride_modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#ride_modal__btn-primary {
  background-color: #490803;
  color: #fff;
  font-variant: small-caps;
}

#ride_modal__btn:focus,
#ride_modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#ride_modal_close_btn {
  margin-left: 35%;
  width: 28%;
  margin-bottom: 1%;
}

/**************************\
        Demo Animation Style
      \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .ride_modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .ride_modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .ride_modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .ride_modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .ride_modal__container,
.micromodal-slide .ride_modal__overlay {
  will-change: transform;
}

.ride_modal__footer {
  display: flex;
}
#ride_modal {
  background: rgb(201, 201, 201);
  border-radius: 3px 3px 3px 3px;
}

.details_title {
  display: flex;
  margin-left: 1%;
  font: 150 1em helvetica neue, open sans, sans-serif;
  margin-bottom: 2%;
  margin-top: 1%;
}

.profile_card_row_modal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgba(167, 167, 167, 0.993);
  margin-bottom: 0.7%;
  font-size: 13px;
}

#signature_ride_modal {
  font: 150 0.4em helvetica neue, open sans, sans-serif;
  letter-spacing: 2px;
}

.trash_icon_profile_card_ride_modal {
  margin-right: 10px;
  filter: brightness(0) invert(100%) sepia(10%) saturate(1661%) hue-rotate(10deg) brightness(80%) contrast(86%);
}
