h3.banner {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #363636;
  color: white;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  justify-content: row;
  background-color: #363636;
  box-shadow: 1px 1px 3px #000;

}

/* .search-bar-container {
  box-shadow: 1px 1px 3px #000;
} */

.ride-not-found-section {
  margin: 10px 0px 15px 0px;
}
.newCredit-credit-form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.mx-auto {
  margin: 0 auto;
}

.newCredit-formgrid {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 1px solid;
  justify-content: center;
  align-items: center;
  max-height: 600px;
}

.newCredit-form-back-button {
  color: black;
  margin: 30px;
  text-align: center;
  border: solid 2px black;
}

.add-new-ride-btn {
  transition: 0.25s;
  margin-top: 6%;
  margin-left: 1%;
  margin-bottom: 7%;
  font-size: 15px;
  border-radius: 8px 8px 8px 8px;
  /* border: 2px solid black; */
  /* padding-left: 10px; */
  /* font-variant: small-caps; */
  /* font-style: oblique; */
}

.add-new-ride-btn:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

.newCredit-form-fields {
  flex-direction: row;
  justify-content: space-between;
}


.newCredit-form-fields > div > label {
  color: #fff;
  text-align: left;
}

.newCredit-submit {
  align-items: flex-end;
  margin-top: 40px;
}

.newCredit-submit button {
  width: 100%;
}

.button:hover {
  animation: fadein 1s both;
}

@keyframes fadein {
  0% {
    background: #222;
  }
  100% {
    background: #ffa260;
  }
}

/*************  Roller Coaster List *****************/

.list-items-container {
  display: flex;
  flex-direction: column;
}

.list-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 8px 12px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 15px;
  align-content: center;
  padding: 7px 20px;
  margin: 1px 30%;
}

.add-credit-button {
  border: 2px solid black;
  font-variant: small-caps;
  font-style: oblique;
}
button.add-credit-button {
  display: flex;
  justify-content: flex-end;
}

.add-new-ride-btn i {
  margin-left: 8px;
}

/********** PARKS *****************/


.parks_list_title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  margin-left: 20%;
  margin-right: 20%;
}
.park-list-items-container {
  display: flex;
  flex-direction: column;
}

.park-list-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 15px;
  align-content: center;
  padding: 7px 20px;
  margin: 1px 30%;
}

.park_list_item_link {
  text-decoration: none;
  padding: 6px 22px;
  margin: 8px 8px;
  color: rgb(68, 66, 66);
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  position: relative;
  display: inline-block;
}

.park_list_item_link {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.park_list_item_link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #01318a;
  box-shadow: inset 0px 0px 0px #1a49a1;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.park_list_item_link:hover::before {
  width: 100%;
}

.park_list_item_link::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #103479;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.park_list_item_link:hover::after {
  width: 100%;
}
.park_list_item_link:hover {
  text-decoration: none;
  border-left: 1px solid #1e4386;
  border-right: 1px solid #174bad;
}

.park_list_location_and_country {
  font-size: 14px;
}

.create_new_rc_side_nav {
  display: flex;
  justify-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 4px 4px rgb(224, 224, 224);
  /* border: 1px solid black; */
  transition: 0.5s all ease;
  width: 17%;
  font-size: 14px;
}
