#nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 2px 0 12px;
  height: 10px;
  align-items: center;
}
#quantum_logo_leaderboard {
display: flex;
}

.leaderboard-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leaderboard_container_2 {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}

.leaderboard-first-and-last-name-in-nav {
  margin-right: 20px;
  font: 150 1em helvetica neue,open sans,sans-serif;
}

.leaderBoard-header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}
.leaderBoard-title {
  font-size: 20px;
  font-weight: 900;
  font-variant: small-caps;
  margin-left: 45%;
}

.leaderboard_sub_header {
  font: 150 0.8em helvetica neue,open sans,sans-serif;
  margin-top: 4px;
  margin-left: 32%;
  color: rgb(27, 27, 82);
}


.navbar-item {
  /* margin-left: 50px; */
  color: white;
}

.leaderBoard-main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(216, 215, 215);
}

.profile-elements {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 1px 3px 6px 4px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  margin-bottom: 5px;
  margin-left: 20%;
  /* margin-right: 200px; */
  background-color: rgb(245, 245, 245);
  width: 60%;
  border-radius: 8px 8px 8px 8px;
}

.leaderBoard-back-btn {
  border: 2px solid black;
}

/* .chat-ScrollToBottom {

} */
#google-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
