#home_navbar_container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 6px 4px 0px rgb(182, 182, 182);
}

.logout_btn_home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

#profile-pic {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.home-logo {
  color: white;
  /* margin-left: 50px; */
  margin-left: 1%;

  font-variant: small-caps;
}

.banner-for-complete-profile {
  display: flex;
  justify-content: center;
  align-content: center;
}

.complete-profile-link {
  padding: 11px 42px;
  color: rgb(7, 7, 7);
  font: 300 0.9em helvetica neue, open sans, sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  width: 16%;
  margin-left: 42%;
  margin-top: 1%;
}

.complete-profile-link {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.complete-profile-link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #3d3f41;
  box-shadow: inset 0px 0px 0px #3d3f41;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.complete-profile-link:hover::before {
  width: 100%;
}

.complete-profile-link::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #3d3f41;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.complete-profile-link:hover::after {
  width: 100%;
}
.complete-profile-link:hover {
  border-left: 1px solid #3d3f41;
  border-right: 1px solid #3d3f41;
}

.greeting {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.logout-navbar-item {
  color: rgb(194, 64, 64);
  margin-right: 4%;
  font-variant: small-caps;
}
.logout-navbar-item:hover {
  border-bottom: 1px solid rgb(228, 91, 91);
}

.logout_btn_home_container i {
  margin-right: 25px;
}

#navbar-item-home-name {
  display: flex;
  align-items: center;
}
.navbar-item-home-name {
  color: white;
  margin-right: 7px;
  font: 150 1em helvetica neue, open sans, sans-serif;
}

.welcome-greeting {
  margin-top: 5px;
  font: 50 1em helvetica neue, open sans, sans-serif;
}

/************** Modal *********************/

.modal_btn_toggle_home {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal_sign_in_btn_home i {
  margin-right: 10px;
}

.modal_sign_in_btn_home {
  padding: 11px 42px;
  color: rgb(43, 9, 9);
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  position: relative;
  text-decoration: none;
}

.modal_sign_in_btn_home {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.modal_sign_in_btn_home::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #200606;
  box-shadow: inset 0px 0px 0px #270707;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.modal_sign_in_btn_home:hover::before {
  width: 100%;
}

.modal_sign_in_btn_home::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #3b0909;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.modal_sign_in_btn_home:hover::after {
  width: 100%;
}
.modal_sign_in_btn_home:hover {
  border-left: 1px solid #420909;
  border-right: 1px solid #300808;
}
/****************************************************/

.navbar_item_home_user_name {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font: 120 1.1em helvetica neue, open sans, sans-serif;
}

.edge_case_btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/*********************************/
.login_alt_edge_case_link {
  padding: 11px 42px;
  color: rgb(7, 7, 7);
  font: 300 0.9em helvetica neue, open sans, sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  margin-right: 1%;
}

.login_alt_edge_case_link {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.login_alt_edge_case_link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #50504f;
  box-shadow: inset 0px 0px 0px #50504f;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.login_alt_edge_case_link:hover::before {
  width: 100%;
}

.login_alt_edge_case_link::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #50504f;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.login_alt_edge_case_link:hover::after {
  width: 100%;
}
.login_alt_edge_case_link:hover {
  border-left: 1px solid #50504f;
  border-right: 1px solid #50504f;
}

/*********************************/
.register_alt_edge_case_link {
  padding: 11px 42px;
  color: rgb(7, 7, 7);
  font: 300 0.9em helvetica neue, open sans, sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  margin-right: 1%;
}

.register_alt_edge_case_link {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.register_alt_edge_case_link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #50504f;
  box-shadow: inset 0px 0px 0px #50504f;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.register_alt_edge_case_link:hover::before {
  width: 100%;
}

.register_alt_edge_case_link::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #50504f;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.register_alt_edge_case_link:hover::after {
  width: 100%;
}
.register_alt_edge_case_link:hover {
  border-left: 1px solid #50504f;
  border-right: 1px solid #50504f;
}
/*********************************/


#home_nav_bar_end {
  align-items: center;
}

.home_profile_dropdown_container {
  position: fixed;
  right: 2%;
  top: 11.5%;
  width: 10%;
  text-align: left;
  font-size: 12.5px;
  margin-top: 0.5%;
  z-index: 4;
  background-color: #363636;
  transition: 0.5s all ease;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgb(87, 87, 87);
}

.home_profile_dropdown_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: rgb(196, 196, 196);
}

.home_profile_dropdown_item {
  margin-top: 6%;
  margin-bottom: 5.5%;
  margin-left: 5%;
  cursor: pointer;
}

.home_profile_dropdown_row:hover {
  color: #f8f8f8;
}

.home_profile_dropdown_row i {
  margin-right: 5%;
  cursor: pointer;
}
