#home_navbar_container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.logout_btn_home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.home-logo {
  color: white;
  margin-left: 70px;
  font-variant: small-caps;
}

.banner-for-complete-profile {
  display: flex;
  justify-content: center;
  align-content: center;
}

.complete-profile-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 900;
  border: 2px solid black;
  color: black;
  margin-left: 690px;
  margin-right: 690px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
}

.complete-profile-link:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}
.greeting {
  font-size: 15px;
  display: flex;
  justify-content: center;

}

.logout-navbar-item {
  color: rgb(194, 64, 64);
  margin-right: 30px;
  font-variant: small-caps;
}
.logout-navbar-item:hover {
  border-bottom: 1px solid rgb(228, 91, 91);
}


.navbar-item-home-name {
  color: white;
  margin-right: 7px;
}

.welcome-greeting {
  margin-top: 10px;
}
