button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.home-logo {
  color: white;
  margin-left: 70px;
  font-variant: small-caps;

}

.banner-for-complete-profile {
  display: flex;
  justify-content: center;
  align-content: center;
}

.complete-profile-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 900;
}
.greeting {
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-variant: small-caps;

}

.logout-navbar-item {
  color: white;
  margin-right: 30px;
  font-variant: small-caps;
}
