.terraform
default-compute-credentials.json

**/.terraform
**/providers.tf
**/terraform.tfvars
**/terraform.tfstate
**/account.json
**/*_account.json
**/*id_rsa
**/aws_auth
**/state.tf
**/terraform.tfstate.backup
**/crash.log
*.tgz
*.swp
**/s3state
**/auth.json
bin/*
