.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

.auth_modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_modal__container {
  background-color: rgb(37, 36, 36);
  padding: 30px;
  width: 570px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.auth_modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(134, 134, 134);
}

.auth_modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #e7e6e6;
  box-sizing: border-box;
}

.auth_modal__close {
  background: transparent;
  border: 0;
  color: #f06d6d;
}

.auth_modal__header .auth_modal__close:before {
  content: "\2715";
}

.auth_modal__content {
  margin-top: 4rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

#auth_modal__btn-primary {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 40%;
  background-color: #032249;
  color: #fff;
  font-variant: small-caps;
  border-radius: 0.25rem;
  border: 1px solid #727272;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#auth_modal__btn-primary:focus,
#auth_modal__btn-primary:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/**************************\
      Demo Animation Style
    \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .auth_modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .auth_modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .auth_modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .auth_modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .auth_modal__container,
.micromodal-slide .auth_modal__overlay {
  will-change: transform;
}

.auth_modal__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.auth_fieldset_container {
  margin-top: 9%;
  margin-bottom: 10%;
}

.auth_label {
  color: #f3f3f3;
  font: 150 1.3em helvetica neue, open sans, sans-serif;
  margin-left: 2%;
}

.auth_input {
  width: 60%;
  height: 30px;
  background: transparent;
  box-shadow: none;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgb(245, 245, 245);
  font-size: 14px;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 4px 4px 4px 4px;
  text-align: center;
}

.auth_input:focus {
  outline: none;
  border: 1px solid rgb(201, 201, 201);
}

.auth_new_form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

#signature_auth_modal {
  font: 260 0.65em helvetica neue, open sans, sans-serif;
  letter-spacing: 2px;
  color: rgb(107, 107, 107);
}

.error_message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}

.error_message {
  color: rgb(255, 110, 110);
}

#fa_triangle {
  font-size: 12px;
  color: rgb(255, 110, 110);
  margin-right: 6px;
}

.validating_email_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

#auth_spinner {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  box-sizing: border-box;
  border: 2px groove white;
  margin: -16px 0px 0px -16px;
  border-top-color: rgb(233, 233, 233);
  border-left-color: rgba(197, 197, 197, 0.9);
  border-bottom-color: rgba(211, 211, 211, 0.8);
  border-right-color: rgba(206, 206, 206, 0.7);
  animation: rotate 1000ms infinite linear;
  transform: translateZ(0px);
}

.email_validation_error_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.success_check_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

#auth_check {
  color: rgb(26, 168, 50);
  font-size: 16px;
}
