
.new-ride-form-back-button:hover,
.new-ride-form-back-button:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(rgb(5, 3, 3), 0);
  border-color: var(--hover);
}

.new-ride-form-back-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 0.25s;
  border: 2px solid black;

}

.create-new-rollerCoaster-btn {
  border: 2px solid black;
  margin-top: 12px;
  margin-right: 150px;
  margin-left: 150px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.create-new-rollerCoaster-btn:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

/*********** New Styles Added ***********/

.create-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 1px solid;
  margin-top: 0rem;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;

}
.title{
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.create-form > label{
  color: white;
  margin-bottom: 1px;
  margin-top: 2px;
}
